*{
    font-family: montserrat;
}

@media (min-width: 768px) {
  .recipe-container {
    padding: 0 2rem;
    max-width: 60rem;
    margin: 0 auto;

   
  }
}

.recipe-container h1{
    margin-left: .5rem;
    font-size: 2.5rem;
}

.ingredients-container ul{
    color: white;
    list-style: circle;
    margin-left: 2rem;
}
.ingredients-container ul li{
    margin-bottom: .3rem;
}

.category-title{
    margin-left: .5rem;
    margin-bottom: .7rem;
}

.recipe-container p{
    margin-left: .5rem;
    margin-right: .5rem;
}

.edit-button {
    color: rgb(248, 149, 0);
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1rem ;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
    
  }
  .edit-button:hover{
    color: white;
    background-color:rgb(248, 149, 0); 
   
  }

  .delete-button {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer; 
    
  }

  /* .delete-button:hover {
    color: #b90606;
  } */

  @media (min-width: 768px){
    .image-ingredients{
      display: flex;
      gap: 2rem;
      margin-bottom: 1rem;
    }
    .center-image{
      justify-content: center;
    }

    .image-ingredients img{
      max-width: 40rem;
    }

    .category-title{
      margin-left: 0;
      margin-top: 0;
    }
  }

