.input {
     padding: .3rem .8rem; 
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(244, 243, 243);
    outline: none;
    font-size: 1rem;
    
}

@media(min-width: 480px){
    input{
       width: 100%;
    }
}

