nav, ul{
  margin: 0;
  padding: 0;
}
.header {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .list {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
  }
  
  .list a {
    text-decoration: none;
    color: rgb(233, 233, 233)
  }
  
  .list a:hover,
  .list a.active {
    color: orange;
    text-decoration: underline;
  }
  
  .logo{
    font-family: 'aboreto';
    font-size: 2.5rem;
    color: white;
    margin: 0;
  }