.auth-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: .3rem; */
    
    
}

.auth {
    margin: 0 auto;
    width: 100%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #05050591;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /* padding: .5rem; */
    /* text-align: start; */
  }

  @media(min-width: 480px){
    .auth{
      width: 90%;
      padding: 1rem;
    }
  }
  
  .auth h1 {
    text-align: center;
    font-family: aboreto;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
    /* text-align: start; */
    padding: .3rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: start;
  }
  
  .control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #19191a;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }

  .control input:focus{
    outline: none;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    width: 97%;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #c90202;
    border: 1px solid #ab0101;
    border-radius: 4px;
    padding: 0.5rem 0;
    transition: all .2s;
    font-family: 'montserrat';
    /* font-family: 'aboreto'; */
  }
  
  .actions button:hover {
    background-color: #c90202ae;
    border-color: #ab0101a4;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.904);
    border: none;
   
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: white
  }

  .forgot{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.768);
    display: block;
    border:0;
    font-size: 1rem;
    padding-left: .3rem;
    cursor: pointer;
    font-family: 'montserrat';
  }

  .mediaButton {
    width: 97%;
    height: 2.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(242, 241, 241, 0.279);
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
    transition: all .2s;
    
  }

  .mediaButton:hover{
    background-color: rgba(242, 241, 241, 0.133);

  }

  .mediaButton img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  